<footer class="site-footer h-card">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <div class="wrapper" style="text-align:center;">
  <div>
<a href = "https://jaredbrabazon.github.io"><img src="/assets/img/logo.svg" alt= "logo" style="width:20%;" /></a>
</div>
<div>
<br>
<hr style="border-top:1px solid #DEF114; width: 22%; margin-left:39% !important; margin-right:39% !important;">
<p></p>
</div>
<div>
<ul class = "social-media-list" style="list-style-type: none;">
<li id = "horiz"><a href="https://facebook.com/jared.brabazon" target="_blank"><i class="fa fa-facebook" id="iconic"></i></a></li>
<li id = "horiz"><a href="http://instagram.com/jaredbrabazon/" target="_blank"><i class="fa fa-instagram" id="iconic"></i> </a></li>
<li id = "horiz"><a href="http://linkedin.com/in/jared-brabazon-3b5a897b" target="_blank"><i class="fa fa-linkedin" id="iconic"></i></a></li>
<li id = "horiz"><a href="http://github.com/jaredbrabazon" target="_blank"><i class="fa fa-github" id="iconic"></i></a></li>
<li id = "horiz"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o" id="iconic"></i></a></li>
</div>
</ul>
<p style ="text-align:center;">{{- site.description | escape -}}</p>

  </div>

</footer>
